@model Indotalent.Operation.AnnouncementPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = "_LayoutNoNavigation";
}

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Announcement: @Model.Header.Name
                <small class="pull-right">Print at: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Announcement Info</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width:50%">Announcement Date:</td>
                        <td>@Model.Header.Date.Value.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Message:</td>
                        <td>@Html.Raw(Model.Header.Message)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
